kiril_core/Markum.Cloud.Libraries/Service References/SystemOptions/SystemOptions.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mailenable.com/MEWebAdminService/SystemOptions" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mailenable.com/MEWebAdminService/SystemOptions" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mailenable.com/MEWebAdminService/SystemOptions">
      <s:element name="GetOption">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostOffice" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Scope" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ValueName" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetOptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetOptionResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetOption">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostOffice" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Scope" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ValueName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Value" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SetOptionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="SetOptionResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetOptionSoapIn">
    <wsdl:part name="parameters" element="tns:GetOption" />
  </wsdl:message>
  <wsdl:message name="GetOptionSoapOut">
    <wsdl:part name="parameters" element="tns:GetOptionResponse" />
  </wsdl:message>
  <wsdl:message name="SetOptionSoapIn">
    <wsdl:part name="parameters" element="tns:SetOption" />
  </wsdl:message>
  <wsdl:message name="SetOptionSoapOut">
    <wsdl:part name="parameters" element="tns:SetOptionResponse" />
  </wsdl:message>
  <wsdl:portType name="SystemOptionsSoap">
    <wsdl:operation name="GetOption">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Get a system option.</wsdl:documentation>
      <wsdl:input message="tns:GetOptionSoapIn" />
      <wsdl:output message="tns:GetOptionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SetOption">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Set a system option.</wsdl:documentation>
      <wsdl:input message="tns:SetOptionSoapIn" />
      <wsdl:output message="tns:SetOptionSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="SystemOptionsSoap" type="tns:SystemOptionsSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOption">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/SystemOptions/GetOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOption">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/SystemOptions/SetOption" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="SystemOptionsSoap12" type="tns:SystemOptionsSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetOption">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/SystemOptions/GetOption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SetOption">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/SystemOptions/SetOption" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="SystemOptions">
    <wsdl:port name="SystemOptionsSoap" binding="tns:SystemOptionsSoap">
      <soap:address location="https://mcpanel.markum.net/MailEnableService/SystemOptions.asmx" />
    </wsdl:port>
    <wsdl:port name="SystemOptionsSoap12" binding="tns:SystemOptionsSoap12">
      <soap12:address location="https://mcpanel.markum.net/MailEnableService/SystemOptions.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>