kiril_core/Markum.Cloud.Libraries/Service References/GroupMember/GroupMember.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://mailenable.com/MEWebAdminService/GroupMember" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://mailenable.com/MEWebAdminService/GroupMember" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://mailenable.com/MEWebAdminService/GroupMember">
      <s:element name="AddGroupMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostOffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddGroupMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="AddGroupMemberResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostOffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetGroupMemberResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetGroupMemberObjectProperties">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostOffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectProperties" type="tns:GroupMember" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="GroupMember">
        <s:complexContent mixed="false">
          <s:extension base="tns:MarshalByRefObject">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Postoffice" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Mailbox" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Host" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="MarshalByRefObject" abstract="true" />
      <s:element name="GetGroupMemberObjectPropertiesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="GetGroupMemberObjectPropertiesResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectProperties" type="tns:GroupMember" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="ListGroupMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ObjectList" type="tns:ArrayOfGroupMember" />
            <s:element minOccurs="0" maxOccurs="1" name="PostOffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAddress" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="Top" type="s:long" />
            <s:element minOccurs="1" maxOccurs="1" name="MaxLength" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfGroupMember">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="GroupMember" nillable="true" type="tns:GroupMember" />
        </s:sequence>
      </s:complexType>
      <s:element name="ListGroupMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="ListGroupMemberResult" type="s:long" />
            <s:element minOccurs="0" maxOccurs="1" name="ObjectList" type="tns:ArrayOfGroupMember" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveGroupMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostOffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RemoveGroupMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="RemoveGroupMemberResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditGroupMember">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="PostOffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Group" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="MemberAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewMemberAddress" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewPostoffice" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="NewGroup" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="EditGroupMemberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="EditGroupMemberResult" type="s:long" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AddGroupMemberSoapIn">
    <wsdl:part name="parameters" element="tns:AddGroupMember" />
  </wsdl:message>
  <wsdl:message name="AddGroupMemberSoapOut">
    <wsdl:part name="parameters" element="tns:AddGroupMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupMemberSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupMember" />
  </wsdl:message>
  <wsdl:message name="GetGroupMemberSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupMemberResponse" />
  </wsdl:message>
  <wsdl:message name="GetGroupMemberObjectPropertiesSoapIn">
    <wsdl:part name="parameters" element="tns:GetGroupMemberObjectProperties" />
  </wsdl:message>
  <wsdl:message name="GetGroupMemberObjectPropertiesSoapOut">
    <wsdl:part name="parameters" element="tns:GetGroupMemberObjectPropertiesResponse" />
  </wsdl:message>
  <wsdl:message name="ListGroupMemberSoapIn">
    <wsdl:part name="parameters" element="tns:ListGroupMember" />
  </wsdl:message>
  <wsdl:message name="ListGroupMemberSoapOut">
    <wsdl:part name="parameters" element="tns:ListGroupMemberResponse" />
  </wsdl:message>
  <wsdl:message name="RemoveGroupMemberSoapIn">
    <wsdl:part name="parameters" element="tns:RemoveGroupMember" />
  </wsdl:message>
  <wsdl:message name="RemoveGroupMemberSoapOut">
    <wsdl:part name="parameters" element="tns:RemoveGroupMemberResponse" />
  </wsdl:message>
  <wsdl:message name="EditGroupMemberSoapIn">
    <wsdl:part name="parameters" element="tns:EditGroupMember" />
  </wsdl:message>
  <wsdl:message name="EditGroupMemberSoapOut">
    <wsdl:part name="parameters" element="tns:EditGroupMemberResponse" />
  </wsdl:message>
  <wsdl:portType name="GroupMemberSoap">
    <wsdl:operation name="AddGroupMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Add a Group Member. Returns 1 if the Group Member was successfully added, otherwise returns 0 if it already exists.</wsdl:documentation>
      <wsdl:input message="tns:AddGroupMemberSoapIn" />
      <wsdl:output message="tns:AddGroupMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve a Group Member. Returns 1 if the Group Member exists, otherwise returns 0.</wsdl:documentation>
      <wsdl:input message="tns:GetGroupMemberSoapIn" />
      <wsdl:output message="tns:GetGroupMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetGroupMemberObjectProperties">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Retrieve the properties of an existing Group Member. Returns 1 if the Group Member exists, otherwise returns 0.</wsdl:documentation>
      <wsdl:input message="tns:GetGroupMemberObjectPropertiesSoapIn" />
      <wsdl:output message="tns:GetGroupMemberObjectPropertiesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="ListGroupMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a list of GroupMember Objects. Returns 0 if failure, 1 if complete, 2 if partial return</wsdl:documentation>
      <wsdl:input message="tns:ListGroupMemberSoapIn" />
      <wsdl:output message="tns:ListGroupMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Remove an existing Group Member. Returns 1 if the Group Member was successfully removed, otherwise returns 0 if the Group Member doesn't exist.</wsdl:documentation>
      <wsdl:input message="tns:RemoveGroupMemberSoapIn" />
      <wsdl:output message="tns:RemoveGroupMemberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="EditGroupMember">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Update an existing Group Member. Returns 1 if the Group Member was successfully updated, otherwise returns 0 if the Group Member doesn't exist.</wsdl:documentation>
      <wsdl:input message="tns:EditGroupMemberSoapIn" />
      <wsdl:output message="tns:EditGroupMemberSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="GroupMemberSoap" type="tns:GroupMemberSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGroupMember">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/AddGroupMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupMember">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/GetGroupMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupMemberObjectProperties">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/GetGroupMemberObjectProperties" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListGroupMember">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/ListGroupMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupMember">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/RemoveGroupMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGroupMember">
      <soap:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/EditGroupMember" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="GroupMemberSoap12" type="tns:GroupMemberSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AddGroupMember">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/AddGroupMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupMember">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/GetGroupMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetGroupMemberObjectProperties">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/GetGroupMemberObjectProperties" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListGroupMember">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/ListGroupMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RemoveGroupMember">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/RemoveGroupMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="EditGroupMember">
      <soap12:operation soapAction="http://mailenable.com/MEWebAdminService/GroupMember/EditGroupMember" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="GroupMember">
    <wsdl:port name="GroupMemberSoap" binding="tns:GroupMemberSoap">
      <soap:address location="https://mcpanel.markum.net/MailEnableService/GroupMember.asmx" />
    </wsdl:port>
    <wsdl:port name="GroupMemberSoap12" binding="tns:GroupMemberSoap12">
      <soap12:address location="https://mcpanel.markum.net/MailEnableService/GroupMember.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>